* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem !important;
  font-family: "Poppins", sans-serif !important; }

main {
  overflow: hidden; }

h1,
h2,
h3,
h4 {
  font-weight: normal; }

img {
  width: 100%;
  height: auto; }

label {
  cursor: pointer; }

button {
  cursor: pointer; }

picture img {
  display: block; }

body picture {
  overflow: hidden; }

a {
  text-decoration: none !important; }

input:focus,
textarea:focus {
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

button:focus {
  outline: none !important; }

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf"); }

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf"); }

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("../fonts/Poppins/Poppins-Regular.ttf"); }

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf"); }

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/Poppins/Poppins-Medium.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Myraidpro";
  font-weight: normal;
  src: url("../fonts/Myraid/MYRIADPRO-SEMIBOLD.OTF"); }

@font-face {
  font-family: "Myraidpro";
  font-weight: bold;
  src: url("../fonts/Myraid/MYRIADPRO-BOLD.OTF"); }

@font-face {
  font-family: "Work-Sans";
  font-weight: normal;
  src: url("../fonts/work-sans/WorkSans-Regular.ttf"); }

@font-face {
  font-family: "Work-Sans";
  font-weight: bold;
  src: url("../fonts/work-sans/WorkSans-Bold.ttf"); }

@font-face {
  font-family: "Bebas-Neue";
  font-weight: normal;
  src: url("../fonts/bebas-neue/BebasNeue-Regular.ttf"); }

@font-face {
  font-family: "Lora";
  font-weight: normal;
  src: url("../fonts/lora/Lora-Italic.ttf"); }

h1 {
  font-size: 2.8rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.8rem; }

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2rem; }
  @media (max-width: 1600px) {
    .container {
      max-width: 144rem; } }
  @media (max-width: 1440px) {
    .container {
      max-width: 120rem; } }
  @media (max-width: 1200px) {
    .container {
      max-width: 96rem; } }
  @media (max-width: 991px) {
    .container {
      max-width: 72rem; } }
  @media (max-width: 768px) {
    .container {
      max-width: 54rem; } }

.hidden {
  display: none; }

.m-top-1 {
  margin-top: 1rem; }
  @media (max-width: 1200px) {
    .m-top-1 {
      margin-top: 3rem; } }

.m-top-3 {
  margin-top: 3rem; }

.m-top-5 {
  margin-top: 5rem; }

.m-top-6 {
  margin-top: 6rem; }

.about__background-img {
  background-image: linear-gradient(#152644, rgba(21, 38, 68, 0.5)), url(./../img/about-bgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about__wrap {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem; }
  @media (max-width: 1200px) {
    .about__wrap {
      flex-wrap: wrap; } }

.about__card {
  flex-basis: 25%;
  padding: 5rem 3rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 24px 0px rgba(1, 44, 118, 0.144); }
  @media (max-width: 1600px) {
    .about__card {
      flex-basis: 30%; } }
  @media (max-width: 1200px) {
    .about__card {
      flex-basis: 48%; } }
  @media (max-width: 991px) {
    .about__card {
      flex-basis: 100%; } }

.about__card-title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #152644;
  margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .about__card-title {
      text-align: center; } }

.about__card-text {
  font-size: 2rem;
  color: #152644;
  line-height: 1.6; }
  @media (max-width: 768px) {
    .about__card-text {
      text-align: center; } }

.about__content {
  display: flex;
  margin-bottom: 5rem; }
  @media (max-width: 1200px) {
    .about__content {
      flex-direction: column-reverse;
      gap: 3rem; } }

.about__title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  color: #152644;
  align-self: flex-start; }
  @media (max-width: 1200px) {
    .about__title {
      align-self: center; } }
  @media (max-width: 768px) {
    .about__title {
      text-align: center; } }

@media (max-width: 1200px) {
  .about__content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; } }

.about__subtitle {
  font-size: 2.4rem;
  color: #152644;
  margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .about__subtitle {
      text-align: center; } }

.about__text-box {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0 3rem 3rem; }
  @media (max-width: 768px) {
    .about__text-box {
      gap: 3rem; } }

.about__text {
  color: #152644; }
  @media (max-width: 1200px) {
    .about__text {
      text-align: center; } }

.about__img-box {
  flex-basis: 50%;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .about__img-box {
      margin-bottom: 2rem; } }

.about__info-wrap {
  display: flex;
  justify-content: center;
  padding: 8rem 0; }
  @media (max-width: 1200px) {
    .about__info-wrap {
      padding: 5rem 0; } }
  @media (max-width: 991px) {
    .about__info-wrap {
      padding: 0 0 5rem; } }

.about__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  box-shadow: 0px 0px 24px 0px rgba(1, 44, 118, 0.144); }
  @media (max-width: 991px) {
    .about__info-box {
      flex-direction: column;
      gap: 2rem; } }

@media (max-width: 768px) {
  .about__info-title {
    text-align: center; } }

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(160deg, #4b3eff 0%, #22b1ff 99%);
  color: #fff;
  border-radius: 0.6rem;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn::before {
    width: 100px;
    height: 100%;
    content: "";
    top: 0px;
    right: -70px;
    z-index: -1;
    position: absolute;
    border-radius: 20px;
    background-color: #3848ee;
    -webkit-transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
    transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1); }
  .btn:hover::before {
    transform: scale(10);
    background-color: rgba(255, 255, 255, 0.08); }
  .btn__svg-arrow {
    height: 1.7rem;
    width: 1.7rem;
    fill: #fff;
    transition: all 0.3s ease-in-out; }

.contact {
  padding: 8rem 0 0; }
  .contact__heading-box {
    margin-bottom: 5rem; }
  .contact__heading {
    font-size: 3rem; }
  .contact__content {
    display: flex;
    gap: 5rem; }
    @media (max-width: 991px) {
      .contact__content {
        flex-direction: column; } }
  .contact__form-wrap {
    flex-basis: 50%;
    padding: 3rem 4rem;
    background-color: #152644;
    border-radius: 0.6rem;
    box-shadow: 0 10px 30px 0 #d0d8ea; }
    @media (max-width: 1200px) {
      .contact__form-wrap {
        flex-basis: 65%; } }
    @media (max-width: 991px) {
      .contact__form-wrap {
        width: 100%; } }
    @media (max-width: 768px) {
      .contact__form-wrap {
        padding: 3rem; } }
  .contact__contact-wrap {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media (max-width: 1200px) {
      .contact__contact-wrap {
        flex-basis: 35%; } }
  .contact__title {
    font-size: 3.4rem;
    color: #152644;
    margin-bottom: 3rem;
    text-align: center; }
  .contact__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; }
  .contact__subtitle {
    font-size: 2rem;
    color: #152644; }
  .contact__text {
    font-size: 1.5rem;
    color: #152644; }
  .contact__link {
    font-size: 1.5rem;
    color: #152644;
    transition: all 0.3s ease-in-out; }
    .contact__link:hover {
      color: #80a0d8; }
  .contact__svg {
    height: 6rem;
    width: 6rem;
    fill: #152644; }
  .contact__map {
    display: flex;
    margin-top: 5rem; }

.features {
  padding: 8rem 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    .features {
      padding: 3rem 0;
      background-color: #f7f7f9; } }
  .features__background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2; }
  .features__background-img {
    height: 100%; }
  .features__container {
    display: flex; }
    @media (max-width: 991px) {
      .features__container {
        flex-direction: column; } }
  .features__heading-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 8rem;
    flex-basis: 30%; }
    @media (max-width: 991px) {
      .features__heading-box {
        align-items: center;
        margin-bottom: 5rem; } }
  .features__subtitle {
    font-size: 1.8rem;
    color: #3b6aff;
    font-weight: bold;
    position: relative; }
    .features__subtitle:after {
      content: "";
      top: 12px;
      right: -127px;
      width: 120px;
      height: 2px;
      position: absolute;
      background-color: #3b6aff; }
      @media (max-width: 768px) {
        .features__subtitle:after {
          width: 5rem;
          right: unset;
          left: 110%; } }
  .features__heading-main {
    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.4;
    color: #152644;
    margin-bottom: 1rem; }
    @media (max-width: 991px) {
      .features__heading-main {
        text-align: center; } }
  .features__desc {
    color: #152644; }
    @media (max-width: 768px) {
      .features__desc {
        text-align: center; } }
  .features__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    flex-basis: 70%; }
    @media (max-width: 768px) {
      .features__content {
        flex-direction: column; } }
  .features__card {
    flex-basis: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #152644;
    border-radius: 3rem;
    padding: 3rem;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    @media (max-width: 1600px) {
      .features__card {
        flex-basis: 37%; } }
    @media (max-width: 1440px) {
      .features__card {
        flex-basis: 42%; } }
    @media (max-width: 1200px) {
      .features__card {
        flex-basis: 47.5%; } }
    .features__card:hover .features__overlay {
      width: 100%; }
    .features__card:hover .features__btn {
      background-color: #fff; }
    .features__card:hover::before {
      background-color: #5078ff; }
    .features__card:hover::after {
      background-color: #657cff; }
    .features__card::before {
      content: "";
      top: -20px;
      right: -10px;
      background-color: #131b2b;
      width: 90px;
      height: 90px;
      position: absolute;
      border-radius: 100%;
      -webkit-transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1);
      transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1); }
    .features__card::after {
      content: "";
      top: -9px;
      right: -45px;
      background-color: #1f2736;
      width: 90px;
      height: 90px;
      position: absolute;
      border-radius: 100%;
      -webkit-transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1);
      transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1); }
  .features__overlay {
    top: 0;
    left: 0;
    right: 0;
    width: 0%;
    z-index: -1;
    height: 100%;
    border-radius: 3rem;
    margin: 0 auto;
    position: absolute;
    -webkit-transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1);
    transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1);
    background: linear-gradient(-160deg, #4b3eff 0%, #22b1ff 99%); }
  .features__heading {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    position: relative; }
    .features__heading::after {
      content: "";
      height: 0.1rem;
      width: 5rem;
      border-bottom: 1px solid #fff;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%); }
  .features__text {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    padding: 0 2rem;
    margin-bottom: 3rem; }
    @media (max-width: 768px) {
      .features__text {
        padding: 3rem 0; } }
  .features__btn-main {
    margin-top: 4rem; }
  .features__btn {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #3189ff;
    background-color: #172c68;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    transition: 500ms cubic-bezier(0.24, 0.74, 0.58, 1); }

.footer {
  background-color: #152644;
  padding: 7rem 0 0;
  position: relative;
  overflow: hidden; }
  .footer__container {
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 8rem; }
    @media (max-width: 991px) {
      .footer__container {
        flex-wrap: wrap;
        gap: 3rem; } }
    @media (max-width: 768px) {
      .footer__container {
        flex-direction: column; } }
  .footer__card {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media (max-width: 991px) {
      .footer__card {
        flex-basis: 47%; } }
    @media (max-width: 768px) {
      .footer__card {
        align-items: center;
        width: 100%; } }
  .footer__logo {
    max-width: 20rem; }
  .footer__social {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #d0d8ea;
    transition: all 0.3s ease-in-out; }
    .footer__social:hover {
      color: #3777ff; }
    .footer__social:hover .footer__svg {
      fill: #3777ff; }
  .footer__svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #d0d8ea;
    transition: all 0.3s ease-in-out; }
  .footer__title {
    font-size: 2.2rem;
    color: #fff;
    margin-top: 3rem; }
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none; }
    @media (max-width: 768px) {
      .footer__list {
        width: 100%;
        align-items: center; } }
  .footer__item {
    text-decoration: none; }
    @media (max-width: 768px) {
      .footer__item {
        text-align: center;
        width: 100%; } }
  .footer__link {
    color: #fff;
    transition: all 0.3s ease-in-out; }
    .footer__link:hover {
      color: #3777ff; }
  .footer__copyright-box {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: transparent;
    border-top: 1px solid #fff;
    width: 100%; }
  .footer__copyright {
    color: #fff;
    font-size: 1.2rem; }
    @media (max-width: 768px) {
      .footer__copyright {
        text-align: center; } }

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%; }
  .form__row {
    display: flex;
    gap: 2rem; }
    @media (max-width: 768px) {
      .form__row {
        flex-direction: column; } }
  .form__input {
    height: 5rem;
    width: 100%;
    padding: 1.2rem;
    color: #666666;
    background-color: #fafafa;
    border: none;
    border-radius: 0.2rem; }
  .form__textarea {
    font-family: "Poppins", sans-serif;
    padding: 1.2rem;
    color: #666666;
    background-color: #fafafa;
    border: none;
    border-radius: 0.2rem;
    height: 12rem; }
  .form__btn {
    font-family: "Poppins", sans-serif;
    border: none;
    height: 5rem;
    width: 19rem;
    justify-content: center;
    margin-top: 4rem; }
    @media (max-width: 768px) {
      .form__btn {
        width: 100%; } }

.gallery {
  padding: 7rem 0; }

.header {
  position: relative; }
  .header__background-img {
    background-image: linear-gradient(rgba(21, 38, 68, 0.2), rgba(21, 38, 68, 0)), url(./../img/slider-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 991px) {
      .header__background-img {
        height: 100vh; } }
  .header__side-bgr {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0; }
    @media (max-width: 991px) {
      .header__side-bgr {
        display: none; } }
  .header__lang-box {
    padding: 0.4rem 0;
    position: relative;
    z-index: 2; }
  .header__lang-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header__lang {
    display: flex;
    margin-left: 0.1rem;
    transition: all 0.3s ease-in-out; }
    .header__lang:hover .header__lang-img {
      transform: scale(1.2); }
  .header__lang-img {
    max-width: 3rem; }
  .header__container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2; }
  .header__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem; }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo {
    max-width: 15rem; }
    @media (max-width: 991px) {
      .header__logo {
        max-width: 10rem; } }
  .header__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12rem; }
    @media (max-width: 991px) {
      .header__wrap {
        margin-top: 15rem; } }
  .header__heading {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 9.5rem;
    line-height: 1.2;
    color: #3777ff;
    margin-bottom: 1.5rem;
    mix-blend-mode: screen; }
    @media (max-width: 1440px) {
      .header__heading {
        font-size: 8rem;
        margin-bottom: 2rem; } }
    @media (max-width: 768px) {
      .header__heading {
        font-size: 6rem; } }
  .header__subtitle {
    font-size: 5.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media (max-width: 768px) {
      .header__subtitle {
        font-size: 3rem;
        text-align: center; } }
  .header__text {
    font-size: 2.1rem;
    color: #fff;
    margin-bottom: 6rem; }
    @media (max-width: 1440px) {
      .header__text {
        font-size: 1.8rem; } }
    @media (max-width: 768px) {
      .header__text {
        font-size: 1.6rem;
        text-align: center; } }
  .header__btn-box {
    margin: 4rem 0 30rem; }
    @media (max-width: 991px) {
      .header__btn-box {
        margin-bottom: 8rem; } }
  .header__menu-btn {
    display: none; }
    @media (max-width: 991px) {
      .header__menu-btn {
        display: flex; } }
  .header__svg-menu {
    height: 3rem;
    width: 3rem;
    fill: #fff;
    display: none; }
    @media (max-width: 991px) {
      .header__svg-menu {
        display: flex; } }
  .header__content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem 0; }
  .header__content-heading {
    font-size: 4.8rem;
    color: #fff; }

.location {
  padding: 8rem 0;
  position: relative; }
  @media (max-width: 768px) {
    .location {
      padding: 4rem 0; } }
  .location__background-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .location__background-img {
    height: 100%; }
  .location__container {
    display: flex;
    justify-content: center; }
  .location__content {
    display: flex;
    gap: 5rem;
    max-width: 120rem;
    width: 100%; }
    @media (max-width: 991px) {
      .location__content {
        flex-direction: column;
        align-items: center; } }
  .location__contact-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex-basis: 30%; }
    @media (max-width: 991px) {
      .location__contact-box {
        align-items: center; } }
  .location__title {
    font-size: 2.8rem;
    color: #152644; }
  .location__contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    @media (max-width: 991px) {
      .location__contact-wrap {
        align-items: center; } }
  .location__text {
    font-size: 1.5rem;
    color: #152644; }
  .location__link {
    font-size: 1.5rem;
    color: #152644;
    transition: all 0.3s ease-in-out; }
    .location__link:hover {
      color: #80a0d8; }
  .location__form-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex-basis: 65%; }
    @media (max-width: 991px) {
      .location__form-box {
        align-items: center;
        width: 100%; } }
  .location__form-wrap {
    padding: 3rem 4rem;
    background-color: #152644;
    border-radius: 0.6rem;
    box-shadow: 0 10px 30px 0 #d0d8ea; }
    @media (max-width: 991px) {
      .location__form-wrap {
        width: 100%; } }
    @media (max-width: 768px) {
      .location__form-wrap {
        padding: 3rem; } }

.meal {
  padding: 8rem 0 5rem;
  background-color: #eaeff2; }
  @media (max-width: 768px) {
    .meal {
      padding: 3rem 0 4rem; } }
  .meal__heading-box {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem; }
    @media (max-width: 991px) {
      .meal__heading-box {
        margin-bottom: 3rem; } }
  .meal__heading {
    text-transform: capitalize;
    font-size: 4.6rem;
    font-weight: 600;
    color: #152644;
    text-align: center; }
    @media (max-width: 1440px) {
      .meal__heading {
        font-size: 5rem;
        margin-bottom: 5rem; } }
    @media (max-width: 991px) {
      .meal__heading {
        font-size: 4rem;
        margin-bottom: 3rem;
        text-align: center; } }
  .meal__container {
    display: flex;
    justify-content: center;
    gap: 6rem; }
    @media (max-width: 991px) {
      .meal__container {
        flex-direction: column;
        gap: 2rem; } }
  .meal__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #f3f3f3;
    border-radius: 1rem;
    box-shadow: 0px 0px 24px 0px rgba(1, 44, 118, 0.144);
    flex-basis: 30%;
    padding: 2rem; }
    @media (max-width: 1440px) {
      .meal__card {
        flex-basis: 42%; } }
    @media (max-width: 991px) {
      .meal__card {
        padding: 8rem 4rem; } }
    @media (max-width: 768px) {
      .meal__card {
        padding: 4rem 2rem; } }
  .meal__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .meal__profile-img {
    width: 6rem;
    filter: brightness(100%) contrast(111%) saturate(1%) blur(0px) hue-rotate(0deg);
    border-radius: 10rem; }
  .meal__profile-desc {
    color: #393a56;
    text-align: center;
    font-size: 1.4rem; }
  .meal__text {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #152644;
    margin: 1rem 0; }
    @media (max-width: 1440px) {
      .meal__text {
        font-size: 1.8rem;
        margin: 0 0 5rem; } }
    @media (max-width: 991px) {
      .meal__text {
        font-size: 1.6rem;
        margin: 0 0 2rem; } }
    @media (max-width: 768px) {
      .meal__text {
        text-align: center; } }
  .meal__star-box {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 2rem;
    flex-grow: 1; }
    @media (max-width: 768px) {
      .meal__star-box {
        justify-content: center; } }
  .meal__svg-star {
    height: 2rem;
    width: 2rem;
    fill: #fcc100; }

.menu {
  padding: 7rem 0; }
  .menu__heading-box {
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    position: relative; }
    .menu__heading-box::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.1rem;
      width: 5rem;
      background-color: #a0a0a0; }
  .menu__heading {
    font-family: "Lora", sans-serif;
    font-size: 4rem; }
  .menu__row {
    display: flex;
    gap: 3rem; }
  .menu__wrap {
    display: flex;
    gap: 5rem; }
    @media (max-width: 991px) {
      .menu__wrap {
        flex-direction: column; } }
  .menu__table {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
    align-self: flex-start; }
    @media (max-width: 991px) {
      .menu__table {
        flex-basis: 100%;
        width: 100%; } }
  .menu__article {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    position: relative; }
    .menu__article::before {
      content: "";
      position: absolute;
      bottom: 0.4rem;
      left: 0;
      width: 100%;
      border-bottom: 1px dotted #000;
      z-index: -1; }
  .menu__article-desc {
    position: absolute;
    top: 100%;
    left: 0; }
  .menu__desc {
    font-family: "Lora", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: #fff;
    margin-right: auto; }
  .menu__weight {
    font-family: "Lora", sans-serif;
    background-color: #fff; }
  .menu__price {
    font-family: "Lora", sans-serif;
    background-color: #fff;
    text-align: end;
    width: 6rem;
    margin-left: 5rem; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 991px) {
    .nav {
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100vw;
      transform: translateX(100%);
      background-color: #152644;
      transition: transform 0.3s ease-in-out;
      padding: 6.5rem 5rem 0;
      z-index: 99999999999; } }
  @media (max-width: 768px) {
    .nav {
      padding: 5rem 3rem 0; } }
  .nav__close-btn {
    display: none; }
    @media (max-width: 991px) {
      .nav__close-btn {
        display: flex;
        align-self: flex-end; } }
  .nav__svg-close {
    height: 3rem;
    width: 3rem;
    fill: #fff; }
  .nav__visible {
    transform: translate(0); }
  .nav__list {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991px) {
      .nav__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100%;
        height: 100%; } }
    @media (max-width: 768px) {
      .nav__list {
        justify-content: flex-start;
        margin-top: 5rem; } }
  .nav__item {
    list-style: none; }
    @media (max-width: 991px) {
      .nav__item {
        width: 100%; } }
    .nav__item:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 991px) {
        .nav__item:not(:last-child) {
          margin-right: 0; } }
  .nav__link {
    color: #a0a0a0;
    transition: all 0.3s ease-in-out; }
    @media (max-width: 991px) {
      .nav__link {
        color: #fff;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 2rem 0; } }
    .nav__link:hover {
      color: #fff; }
  .nav__active {
    color: #fff; }
    @media (max-width: 991px) {
      .nav__active {
        background-color: #3777ff; } }
  .nav__btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1;
    color: #152644;
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px solid transparent;
    border-radius: 0.6rem;
    padding: 1.2rem 2.8rem;
    transition: all 0.3s ease-in-out; }
    .nav__btn:hover {
      color: #fff;
      background-color: #152644;
      border: 1px solid #fff; }
  .nav__logo-box {
    display: none; }
    @media (max-width: 991px) {
      .nav__logo-box {
        display: flex;
        position: absolute;
        top: 7%;
        left: 7%; } }
    @media (max-width: 768px) {
      .nav__logo-box {
        display: flex;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 100%; } }

.specialty {
  background-image: url(./../img/specialty-background.jpg);
  position: relative;
  padding: 9rem 0px 9rem;
  background-attachment: fixed;
  background-size: cover; }
  @media (max-width: 991px) {
    .specialty {
      padding: 3rem 0; } }
  @media (max-width: 768px) {
    .specialty {
      padding: 0 0 5rem; } }
  .specialty::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.7;
    background-color: #152644; }
  .specialty__background {
    background-image: url(./../img/specialty-dots.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: repeat; }
  .specialty__content {
    display: flex;
    padding: 3rem 0;
    position: relative;
    z-index: 1; }
    @media (max-width: 1600px) {
      .specialty__content {
        gap: 3rem; } }
    @media (max-width: 1440px) {
      .specialty__content {
        align-items: center;
        gap: 5rem; } }
    @media (max-width: 768px) {
      .specialty__content {
        flex-direction: column;
        gap: 4rem; } }
  .specialty__card-center {
    flex-basis: 35%; }
    @media (max-width: 1600px) {
      .specialty__card-center {
        flex-basis: 30%; } }
    @media (max-width: 1440px) {
      .specialty__card-center {
        flex-basis: 50%; } }
    @media (max-width: 991px) {
      .specialty__card-center {
        flex-basis: 35%; } }
  .specialty__card-wrap {
    flex-basis: 65%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1600px) {
      .specialty__card-wrap {
        flex-basis: 70%; } }
    @media (max-width: 1440px) {
      .specialty__card-wrap {
        flex-wrap: wrap;
        gap: 3rem;
        flex-basis: 50%; } }
    @media (max-width: 991px) {
      .specialty__card-wrap {
        flex-basis: 65%; } }
  .specialty__card {
    flex-basis: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1440px) {
      .specialty__card {
        flex-basis: 45%; } }
  .specialty__heading-box {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    border-right: 7px solid #fff;
    border-left: 7px solid #fff; }
    @media (max-width: 991px) {
      .specialty__heading-box {
        padding: 3rem 0; } }
    @media (max-width: 768px) {
      .specialty__heading-box {
        border-right: none;
        border-left: none;
        border-top: 7px solid #fff;
        border-bottom: 7px solid #fff; } }
  .specialty__heading {
    font-size: 5rem;
    font-weight: 600;
    color: #fff; }
    @media (max-width: 991px) {
      .specialty__heading {
        font-size: 3rem;
        text-align: center; } }
  .specialty__img-box {
    background-color: rgba(255, 255, 255, 0.705);
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem; }
  .specialty__img {
    max-width: 18rem; }
