.specialty {
  // background-image: url(./../img/specialty-background.jpg);
  // background-attachment: fixed;
  // background-size: cover;
  background-color: $color-lucky;
  position: relative;
  padding: 0 0 9rem;
  overflow: hidden;

  @include breakpoint(xxl) {
    padding: 0 0 5rem;
  }

  @include breakpoint(md) {
    padding: 3rem 0;
  }

  @include breakpoint(sm) {
    padding: 0 0 5rem;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.7;
    background-color: #152644;
  }

  &__background {
    background-image: url(./../img/specialty-dots.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    position: relative;
    z-index: 1;

    @include breakpoint(xxl) {
      gap: 3rem;
    }

    @include breakpoint(xl) {
      align-items: center;
      gap: 5rem;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__card-center {
    flex-basis: 35%;

    @include breakpoint(xxl) {
      flex-basis: 30%;
    }

    @include breakpoint(xl) {
      flex-basis: 50%;
    }

    @include breakpoint(md) {
      flex-basis: 35%;
    }
  }

  &__card-wrap {
    flex-basis: 65%;
    display: flex;
    justify-content: space-between;

    @include breakpoint(xxl) {
      flex-basis: 70%;
    }

    @include breakpoint(xl) {
      flex-wrap: wrap;
      gap: 3rem;
      flex-basis: 50%;
    }

    @include breakpoint(md) {
      flex-basis: 65%;
    }

    @include breakpoint(sm) {
      gap: 0;
    }
  }

  &__card {
    flex-basis: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(xl) {
      flex-basis: 45%;
    }

    @include breakpoint(sm) {
      flex-basis: 50%;
    }
  }

  &__heading-box {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    // border-right: 7px solid $color-white;
    // border-left: 7px solid $color-white;

    @include breakpoint(xxl) {
      padding: 5rem 0 1rem;
    }

    @include breakpoint(md) {
      padding: 3rem 0;
    }

    // @include breakpoint(sm) {
    //   border-right: none;
    //   border-left: none;
    //   border-top: 7px solid $color-white;
    //   border-bottom: 7px solid $color-white;
    // }
  }

  &__heading {
    font-size: 4rem;
    font-weight: 600;
    color: $color-white;

    @include breakpoint(md) {
      font-size: 3rem;
      text-align: center;
    }
  }

  &__img-box {
    // background-color: rgba(255, 255, 255, 0.705);
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
  }

  &__img-1 {
    max-width: 25rem;
    // filter: brightness(500%) contrast(147%) saturate(116%) blur(0px)
    //   hue-rotate(217deg);
  }

  &__img-2 {
    max-width: 15rem;
    filter: brightness(500%) contrast(147%) saturate(116%) blur(0px)
      hue-rotate(217deg);
  }

  &__img-3 {
    max-width: 25rem;
    filter: brightness(500%) contrast(147%) saturate(116%) blur(0px)
      hue-rotate(217deg);
  }

  &__img-4 {
    max-width: 22rem;
    filter: brightness(500%) contrast(147%) saturate(116%) blur(0px)
      hue-rotate(217deg);
  }

  &__swiper-content {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    overflow: hidden;

    @include breakpoint(sm) {
      margin-top: 0;
    }
  }

  &__svg-arrow-next {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-white;
  }

  &__svg-arrow-prev {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-white;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 19rem;
    padding: 3rem 20rem 0;

    @include breakpoint(xl) {
      padding: 3rem 5rem 0;
    }

    @include breakpoint(md) {
      padding: 3rem 3rem 0;
    }

    @include breakpoint(sm) {
      height: 25rem;
    }
  }

  &__text {
    font-weight: 600;
    line-height: 1.6;
    color: $color-white;
    margin: 0 0 1.5rem;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 1.4rem;
    }
  }

  &__star-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  &__svg-star {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-golden;
  }

  &__profile-desc {
    color: $color-white;
    text-align: center;

    @include breakpoint(sm) {
      font-size: 1.2rem;
    }
  }
}
