$color-white: #fff;
$color-black: #000;
$color-lucky: #152644;
$color-lucky-dark: #242a56;
$color-payne: #393a56;
$color-spindle: #b6c9db;
$color-snow: #fafafa;
$color-light: #d0d8ea;
$color-golden: #fcc100;
$color-dandelion: #ffda61;
$color-kournikova: #fad047;
$color-dim-gray: #666666;
/////////
$color-gray: #a0a0a0;
$color-gray-light: #d3d3d3;
$color-smoke: #f2f2f2;
$color-muesli: #967b43;
$color-eclipse: #3a3a3a;

$ff-sans: "Poppins", sans-serif;
$ff-serif: "Myraidpro", sans-serif;
$ff-bebas: "Bebas-Neue", sans-serif;
$ff-lora: "Lora", sans-serif;
