.about {
  &__wrap {
    background-color: $color-black;
  }

  &__top-wrap {
    display: flex;
    gap: 10rem;
    padding: 10rem 0;

    @include breakpoint(sm) {
      flex-direction: column;
      gap: 5rem;
      padding: 5rem 0;
    }
  }

  &__top-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__top-desc {
    font-family: $ff-lora;
    line-height: 1.8;
    font-size: 1.8rem;
    color: $color-smoke;
  }

  &__top-content {
    display: flex;
    gap: 3rem;

    @include breakpoint(lg) {
      flex-direction: column;
    }
  }

  &__top-text-box {
    flex-basis: 30%;
  }

  &__top-text {
    font-family: $ff-lora;
    line-height: 1.8;
    font-size: 1.8rem;
    color: $color-smoke;
  }

  &__top-img-box {
    flex-basis: 70%;
  }

  &__mid-box {
    padding: 10rem 0;
  }

  &__mid-text {
    font-family: $ff-lora;
    line-height: 1.8;
    font-size: 1.8rem;
  }

  &__bottom-box {
    background-color: $color-black;
    padding-top: 10rem;
  }

  &__bottom-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8rem;
  }

  &__bottom-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__bottom-desc {
    font-family: $ff-lora;
    line-height: 1.8;
    font-size: 1.8rem;
    color: $color-smoke;
  }
}
